body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: white;
    color: black;
}

/* activation du Code Konami */
.konami-active {
    background: linear-gradient(45deg, #003366, #0099ff);
    color: white;
    text-align: center;
}

.konami-active::before {
    content: "Bienvenue à La Plateforme_ ! 🚀";
    font-size: 32px;
    font-weight: bold;
}
